@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --poppins-font: "Poppins", sans-serif;
}
html {
  font-size: 16px;
}
all {
  width: 100%;
  height: auto;
}
.start {
  width: 100%;
  padding-top: 132px;
}
.introduce {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  height: 750px;
  background-image: linear-gradient(
    to right,
    rgb(5, 16, 112),
    rgba(27, 4, 4, 0)
  );
}
.leftside {
  width: 50%;
  height: auto;
}
.background {
  margin-top: 70px;
  width: 100%;
  height: auto;
}
.background img {
  width: 600px;
  height: 500px;
  margin-left: 30px;
  border-radius: 50%;
  animation: biani 5s infinite alternate;
}
@keyframes biani {
  0% {
    border-radius: 48% 52% 57% 43%;
  }
  25% {
    border-radius: 62% 38% 64% 36%;
  }
  50% {
    border-radius: 43% 57% 51% 49% / 33% 42% 58% 67%;
  }
  100% {
    border-radius: 40% 60% 43% 57% / 52% 32% 68% 48%;
  }
}
.wordunder {
  width: 100%;
  height: auto;
}
.wordunder h1 {
  color: white;
  margin-left: 150px;
  font-family: "Patrick Hand", cursive;
  text-transform: capitalize;
  font-size: xx-large;
}
.welcome {
  width: 70%;
  height: auto;
  margin-top: 100px;
  margin-left: 100px;
}
.welcome h1 {
  font-family: "Patrick Hand", cursive;
  color: aliceblue;
  font-size: 4rem;
  font-weight: 1000;
  margin: 0;
}
.welcome span {
  color: white;
  animation: colorchange 2s infinite alternate;
}
@keyframes colorchange {
  0% {
    color: yellow;
    scale: 1;
  }
  100% {
    scale: 1.2;

    color: darkorange;
  }
}
.welcome p {
  font-family: var(--poppins-font);
  font-size: large;
  font-weight: 400;
}
.about {
  width: 100%;
}
.aboutt {
  height: 750px;
  width: 100%;
}
.understart {
  /* position: relative; */
  width: 100%;
  height: 750px;
  background-image: linear-gradient(to right, #fffbfb4f, rgb(214, 214, 191));
}
.worrd {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.worrd p {
  font-family: "Patrick Hand", cursive;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 25px;
  box-shadow: 3px 3px 12px rgb(128, 127, 127), -0px -0px 12px white;
  font-size: 1rem;
}
.shadow {
  padding-top: 55px;
  display: flex;
  justify-content: center;
  width: 10%;
  height: auto;
}
.primary {
  width: 100%;
  display: flex;
  height: auto;
}
.left-pri {
  width: 50%;
  height: max-content;
}
.right-pri {
  width: 50%;
  height: max-content;
}
.openning {
  position: relative;
  margin-left: 30px;
  width: 38rem;
}
.openning::after {
  content: "";
  position: absolute;
  left: 10px;
  width: 100%;
  height: 3px;
  background-color: #116ab1;
  display: block;
  right: 50px;
}
.openning h1 {
  color: aliceblue;
  background-color: blue;
  padding: 10px;
  border-radius: 20px 20px 5px 5px;
  font-family: var(--poppins-font);
}
.img1 {
  margin-left: -250px;
  width: 300px;
  height: 200px;
  padding-bottom: 75px;
  transition: 0.5s all linear;
}
.img1.movee {
  margin-left: 10px;
}
.img1 img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.img2 {
  position: absolute;
  top: 32%;
  left: -18%;
  width: 300px;
  height: 300px;
  transition: 0.5s all linear;
}
.img2.moveee {
  left: 18%;
}
.img2 img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.part {
  margin-top: 30px;
  margin-left: 40px;
  display: flex;
  /* border: 2px solid; */
  border-radius: 10px;
  width: 80%;
  height: 150px;
  /* background-color: aqua; */
  position: relative;
}
.part1 {
  position: absolute;
  top: 0;
  width: 30%;
  height: auto;
}
.part1 img {
  /* margin-top: 35px; */
  float: right;
  width: 70%;
  cursor: pointer;
  animation: upandown 3s infinite alternate;
}
@keyframes upandown {
  0% {
    margin-top: 35px;
  }
  100% {
    margin-top: 30px;
  }
}
.part2 {
  position: relative;
  padding-left: 20px;
  width: 70%;
  height: auto;
}
.wordd h1,
p {
  margin: 0;
  font-family: "Patrick Hand", cursive;
}
.list-class ul li {
  display: inline-block;
  font-family: var(--poppins-font);
}
.part2-move {
  top: 15px;
  left: 40%;
  position: absolute;
  height: 0px;
  width: 100%;
  opacity: 0;
  /* transition: 0.2s all linear; */
  animation: appear 2s infinite alternate;
}
.part:hover .part2-move {
  opacity: 1;
}
@keyframes appear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
.next {
  width: 100%;
  height: 750px;
  background-image: linear-gradient(to right, orange, yellow);
}
.undernext {
  display: flex;
  width: 100%;
  height: 700px;
}
.leftnext {
  position: relative;
  width: 50%;
  height: 660px;
}
.rightnext {
  width: 50%;
  height: 660px;
}
.word1 {
  width: 100%;
}
.word1 h1 {
  margin-top: 70px;
  font-size: 2rem;
  color: aliceblue;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 2px 2px 1px orange;
}
.word2 {
  margin-left: 50px;
  width: 60%;
  margin-bottom: 75px;
}
.opacity2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: orange;
  padding: 10px;
  background-color: #116ab1;
  border-radius: 0px 35px 35px 0px;
  opacity: 0;
  transition: 1s all linear;
}
.opacity2.bom {
  opacity: 1;
}

.arroww {
  /* margin-top: 45px; */
  width: 100%;
  height: 8%;
  display: flex;
  margin-left: 35px;
}
.arrow1 {
  width: 19%;
  display: flex;
  justify-content: center;
  height: auto;
}
.arrow1 h3 {
  font-family: "Assistant", sans-serif;
  color: #044071;
  text-align: center;
}
.arrow1 img {
  width: 50px;
}
.linethr {
  margin-top: 3px;
  margin-left: 35px;
  height: 4px;
  background-color: #116ab1;
  animation: spreadout 5s infinite alternate;
}
@keyframes spreadout {
  0% {
    width: 60%;
  }
  100% {
    width: 0%;
  }
}
.schooll {
  display: block;
  width: 25%;
  cursor: pointer;
  position: absolute;
  top: 60%;
  left: 66%;
  font-size: 6rem;
  animation: spreadoutt 5s infinite alternate;
}
@keyframes spreadoutt {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
.schooll.spreadout {
  scale: 0.5;
}
.fa-arrow-right {
  margin-top: 2px;
  float: right;
  color: #116ab1;
}
.word11 {
  width: 150px;
  margin-left: 90px;
}
.word11 {
  transform: rotate(20deg);
}
.word11 h1 {
  border-radius: 20px;
  color: aliceblue;
  background-color: #116ab1;
  padding: 10px;
}
.threeP span {
  border-radius: 10px;
  background-color: rgb(135, 75, 3);
  padding: 5px;
  margin-left: 100px;
  color: rgb(234, 213, 213);
  font-size: 4rem;
}
.word3 {
  margin-left: 190px;
  width: 54%;
}
.opacity3 {
  padding: 0px;
  color: aliceblue;
  background-color: #044071;
  border-radius: 15px 0px 0px 15px;
  opacity: 0;
  transition: 1s all linear;
}
.opacity3.boom {
  padding: 10px;
  opacity: 1;
}
.last {
  width: 100%;
  height: auto;
}
.lastt {
  width: 100%;
  height: 750px;
  background-color: rgba(96, 93, 93, 0.152);
  background-size: cover;
  height: 100vh;
}
.alllast2 {
  width: 100%;
  height: 700px;
  display: flex;
}
.leftlast {
  width: 45%;
  height: 700px;
}
.rightlast {
  position: relative;
  width: 65%;
  height: 700px;
}
.under-leftlast {
  width: 100%;
  height: auto;
}
.allunder {
  display: flex;
  width: 100%;
}
.worddd {
  margin-top: 14rem;
  width: 80%;
  height: auto;
}
.worddd h1 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 550;
}
.arr {
  width: 30%;
  height: auto;
}
.fa-angle-right {
  font-size: 2.5rem;
}
.arr ul li {
  padding: 0;
  margin: 0;
  display: inline-block;
  float: right;
}
.arr ul {
  animation: backup 0.5s infinite alternate;
}
@keyframes backup {
  0% {
    padding-right: 5px;
  }
  100% {
    padding-right: 0;
  }
}
@keyframes changecolorr {
  0% {
    color: rgb(193, 193, 4);
  }
  50% {
    color: rgb(179, 1, 182);
  }
  100% {
    color: rgb(255, 3, 3);
  }
}
@keyframes changecolor2 {
  0% {
    color: rgb(24, 160, 6);
  }
  50% {
    color: rgb(255, 3, 3);
  }
  100% {
    color: rgb(61, 61, 2);
  }
}
.arr li:nth-child(1) {
  color: rgb(193, 193, 4);
  animation: changecolorr 0.5s infinite alternate;
}
.arr li:nth-child(2) {
  color: rgb(179, 1, 182);
  animation: changecolor2 0.5s infinite alternate;
}
.arr li:nth-child(3) {
  color: rgb(24, 160, 6);
  animation: changecolorr 0.5s infinite alternate;
}
.arr li:nth-child(4) {
  color: rgb(255, 3, 3);
  animation: changecolor2 0.5s infinite alternate;
}

.btnmove {
  width: 30%;
  height: auto;
  margin-left: 35px;
  margin-top: 13px;
}
.btnmove a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  padding: 10px 30px;
  font-size: x-large;
  background-color: white;
  border-radius: 15px;
  color: black;
  border: 3px solid black;
  box-shadow: 9px 9px 12px #ccc, -9px -9px 12px white;
}
.btnmove a:hover {
  border: 3px solid wheat;
  color: lightsalmon;
  box-shadow: #ccc 9px 9px 12px inset, -9px -9px 12px white inset;
}
.laptop {
  width: 100%;
  height: auto;
}
.laptop img {
  width: 80%;
  position: absolute;
  top: 20%;
  mix-blend-mode: color;
}
.imglearn img {
  width: 48.4%;
  height: 35%;
  position: absolute;
  top: 28%;
  left: 16%;
}
.mainnextt {
  width: 30rem;
  height: 30rem;
  overflow: hidden;
  position: relative;
  margin-left: 80px;
  margin-top: 50px;
}
.wrapper {
  display: flex;
  position: relative;
  transition: transform 0.5s linear;
}
.slideritems {
  width: 30rem;
  height: 30rem;
}
.slideritems img {
  width: 30rem;
  height: 30rem;
  border-radius: 10px;
}
.btnfornext {
  width: 100%;
  height: 100px;
  position: relative;
}
.nexxt {
  width: 20%;
  height: auto;
  position: absolute;
  left: 75%;
}
.prev {
  width: 20%;
  height: auto;
  position: absolute;
  left: 3%;
}
.fa-caret-right {
  font-size: larger;
  padding: 10px 15px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 3px 3px 12px #ccc, -3px -3px 12px white;
  cursor: pointer;
}
.fa-caret-right:hover {
  box-shadow: 3px 3px 12px #ccc inset, -3px -3px 12px white inset;
}
.fa-caret-left:hover {
  box-shadow: 3px 3px 12px #ccc inset, -3px -3px 12px white inset;
}
.fa-caret-left {
  font-size: larger;
  padding: 10px 15px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 3px 3px 12px #ccc, -3px -3px 12px white;
  cursor: pointer;
}
