@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --poppins-font: "Poppins", sans-serif;
}

html {
  font-size: 16px;
}
.all {
  width: 100%;
  height: auto;
}
.contain-wothpt {
  width: 100%;
  height: 150px;
  margin-top: 45px;
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: #ccc 0px 1px 1px, #ccc 0px -1px 1px;
}
.picthpt img {
  width: 280px;
  height: 150px;
  object-fit: contain;
}
.wordd {
  width: 69%;
  height: auto;
}
.wordd h1 {
  font-family: "Poppins", sans-serif;
  padding-left: 20px;
}
.wordd p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  padding-left: 20px;
}
.placefortest {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.box {
  border: 1px solid #eeee;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 40px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  height: 30%;
  background-color: white;
  position: relative;
  box-shadow: 0 0 1px 1px rgba(194, 194, 194, 0.94);
}
@keyframes scaleAnimation {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.box span {
  padding: 3px;
  text-align: center;
  font-family: var(--poppins-font);
}
.box p {
  color: steelblue;
  padding: 3px;
}
.title p {
  color: black;
}
.title {
  margin-bottom: 10px;
  border-bottom: 2px solid rgb(200, 198, 198);
}
.eye {
  display: flex;
  justify-content: center;
  width: 50%;
}
.downn {
  display: flex;
  justify-content: center;
  width: 50%;
}
.eyeandown {
  width: 100%;
  display: flex;
}
.eyeandown span {
  padding-left: 5px;
}
.author {
  display: flex;
  justify-content: center;
  background-color: #eeee;
  width: 100%;
  height: 40px;
}
.author span {
  margin-top: 10px;
}
.fa-user {
  margin-top: 20px;
  padding-left: 15px;
}
.hidden {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0px;
  background-color: #3899de;
  border-radius: 5px;
  opacity: 0;
  transition: 0.2s all linear;
}
.hidden a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid white;
}
.hidden a:hover {
  color: rgb(27, 12, 1);
}
.read {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.read a {
  cursor: pointer;
}
.btndownn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.box:hover .hidden {
  opacity: 1;
  height: 70px;
}
.review {
  position: fixed;
  display: none;
  left: 30%;
  width: 36rem;
  height: 40rem;
  z-index: 9;
  transition: opacity 0.3s ease;
  overflow-y: auto;
  overflow-x: hidden;
}
.review::-webkit-scrollbar {
  width: 5px;
}
.review::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #f90d0d;
}
.review.opacity {
  display: block;
}
.test {
  border-radius: 10px;
  width: 100%;
  height: auto;
  position: absolute;
}
.test img {
  width: 100%;
  border-radius: 10px;
}
.test {
  width: 36rem;
  transition: opacity 1s linear;
}
/* .test.appearrr {
  visibility: visible;
  opacity: 1;
} */
/* .test:nth-child(2) {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s linear;
}
.test:nth-child(2).appearrr {
  visibility: visible;
  opacity: 1;
}
.test:nth-child(3) {
  width: 36rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s linear;
}
.test:nth-child(3).appearrr {
  visibility: visible;
  opacity: 1;
}
.test:nth-child(4) {
  width: 36rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s linear;
}
.test:nth-child(4).appearrr {
  visibility: visible;
  opacity: 1;
} */
.loginbtnn {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .box {
    width: 80%;
  }
  .mobbilebtn {
    display: block;
    top: 15%;
    left: 80%;
    position: absolute;
    float: right;
    border-radius: 10px;
    background-color: #ccc;
    width: 50px;
    height: auto;
  }
  .Page-login {
    left: 40%;
  }
  #Page-signup {
    left: 40%;
  }
  .alert.moveout {
    right: 200px;
  }
}
