@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --poppins-font: "Poppins", sans-serif;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  /* font-family: var(--poppins-font); */
}

.all {
  margin-left: 6px;
  width: 100%;
  height: auto;
}
.start {
  width: 650px;
  height: 35px;
  background-color: #116ab1;
  border-radius: 7px;
  margin-bottom: 0;
}
.start h1 {
  color: white;
  text-align: center;
}
.start ::after {
  content: "";
  position: absolute;
  left: 10px;
  height: 3px;
  background-color: #116ab1;
  display: block;
  right: 0;
}
.placefortest {
  width: 90%;
  height: auto;
  margin-left: 10px;
}
.dethi {
  width: 100%;
  height: auto;
  text-align: center;
}
.dethi h1 {
  text-decoration: underline;
}
.exam1 {
  width: 100%;
  height: auto;
}
.exam1 img {
  mix-blend-mode: multiply;
  width: 75%;
}
.listtest {
  margin-left: 10px;
  margin-top: 40px;
  width: 40%;
  height: auto;
  border-radius: 10px;
  box-shadow: 3px 3px 12px #ccc;
  border-left: 4px solid orange;
}
.list h3 {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}
.list-test a {
  font-family: var(--poppins-font);
  text-decoration: none;
}
.list-test a:hover {
  color: darkorange;
}
.check {
  width: 100%;
  height: auto;
  margin-top: 10px;
}
.check span {
  font-family: var(--poppins-font);
}
.opening {
  width: 85%;
  margin-left: 55px;
}
.topic {
  border-bottom: 2px solid #ccc;
  text-align: center;
}
.topic p {
  font-size: xx-large;
  font-family: "poppins", sans-serif;
}
.opening p {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 1000px) {
  .listtest {
    width: 70%;
  }
}
.tasks-list-item {
  display: block;
  line-height: 24px;
  padding: 12px 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-top: 1px solid #f0f2f3;
}

.tasks-list-cb {
  display: none;
}

.tasks-list-mark {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
  width: 20px;
  height: 20px;
  border: 2px solid #c4cbd2;
  border-radius: 12px;
}

.tasks-list-mark:before {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -6px;
  height: 4px;
  width: 8px;
  border: solid #39ca74;
  border-width: 0 0 4px 4px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.tasks-list-cb:checked ~ .tasks-list-mark {
  border-color: #39ca74;
}

.tasks-list-cb:checked ~ .tasks-list-mark:before {
  display: block;
}

.tasks-list-desc {
  font-weight: bold;
  color: #8a9a9b;
}
.tasks-list-cb:checked ~ .tasks-list-desc {
  color: #34bf6e;
  text-decoration: line-through;
}
