@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --poppins-font: "Poppins", sans-serif;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
  /* font-family: var(--poppins-font); */
}

.all {
  margin-left: 6px;
  width: 100%;
  height: auto;
}
.start {
  width: 650px;
  height: 35px;
  background-color: #116ab1;
  border-radius: 7px;
  margin-bottom: 0;
}
.start h1 {
  color: white;
  text-align: center;
}
.start ::after {
  content: "";
  position: absolute;
  left: 10px;
  height: 3px;
  background-color: #116ab1;
  display: block;
  right: 0;
}
.placefortest {
  width: 90%;
  height: auto;
  margin-left: 10px;
}
.dethi {
  width: 100%;
  height: auto;
  text-align: center;
}
.dethi h1 {
  text-decoration: underline;
}
.exam1 {
  width: 100%;
  height: auto;
}
.exam1 img {
  mix-blend-mode: multiply;
  width: 75%;
}
.listtest {
  margin-left: 10px;
  margin-top: 40px;
  width: 40%;
  height: 120px;
  border-radius: 10px;
  box-shadow: 3px 3px 12px #ccc;
  border-left: 4px solid orange;
}
.list h3 {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}
.list-test a {
  font-family: var(--poppins-font);
  text-decoration: none;
}
.list-test a:hover {
  color: darkorange;
}
.check {
  width: 100%;
  height: auto;
  margin-top: 10px;
}
.check span {
  font-family: var(--poppins-font);
}
.opening {
  width: 85%;
  margin-left: 55px;
}
.topic {
  border-bottom: 2px solid #ccc;
  text-align: center;
}
.topic p {
  font-size: xx-large;
  font-family: "poppins", sans-serif;
}
.opening p {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 1000px) {
  .listtest {
    width: 70%;
  }
}
