@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --poppins-font: "Poppins", sans-serif;
}
html,
body {
  font-size: 16px;
  scroll-behavior: smooth;
}
/* .infor {
  width: 65%;
} */
.wordsources {
  margin: 30px;
}
.wordsources a {
  color: red;
  border-radius: 15px;
  padding: 10px 15px 10px 15px;
  border: 2px solid red;
}
.open {
  margin-top: 30px;
  width: 100%;
  height: auto;
}
.open h1 {
  color: #524e4e;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  text-align: center;
}
.body {
  position: relative;
  width: 100%;
  height: auto;
}
.insidebody {
  width: 75%;
  height: auto;
  margin-left: 95px;
  border-radius: 10px;
  border: solid 1px #b0abab70;
}
.allinside {
  width: 65%;
  height: auto;
  margin-left: 45px;
}
.menu-class span {
  font-family: var(--poppins-font);
  color: chocolate;
}
.source1 {
  padding-bottom: 8px;
}
.source1 a {
  text-decoration: none;
  font-family: var(--poppins-font);
}
.source1 a:hover {
  color: coral;
}
.cources {
  width: 100%;
  height: auto;
  margin-left: 30px;
  border: none;
}
.last {
  display: block;
}
.inforpart {
  padding-bottom: 10px;
}
.inforpart a {
  text-decoration: none;
  font-family: var(--poppins-font);
}
.inforpart a :hover {
  color: coral;
}
.underINforcourse {
  padding-bottom: 10px;
  padding-left: 20px;
}
.underINforcourse a {
  padding-bottom: 10px;
  text-decoration: none;
  font-family: var(--poppins-font);
}
.underINforcourse a:hover {
  color: coral;
}
/* .Powerpoint {
  padding-top: 50px;
} */
.Powerpoint h1 {
  color: rgb(4, 189, 189);
  font-family: var(--poppins-font);
  text-align: center;
}
.underPowerpoint {
  margin-left: 95px;
  width: 75%;
  height: auto;
  font-family: var(--poppins-font);
}
.body2 {
  width: 75%;
  height: auto;
  margin-left: 95px;
}
.wordprimary {
  text-align: center;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}
.wordprimary span {
  font-size: 2.5rem;
  font-family: "Nunito", sans-serif;
  /* color: forestgreen; */
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px;
  /* rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}

.word3 p {
  font-family: var(--poppins-font);
}
.word1 p {
  font-size: 1.3rem;
}

.primary {
  margin-bottom: 10px;
}
.div-under {
  /* opacity: 0.2; */
  background-color: white;
  border: solid 1px #b0abab70;
  border-radius: 5px;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(240, 46, 170, 0.3) 5px 5px,
    rgba(240, 46, 170, 0.05) 10px 10px;
}
.div-under.appear {
  opacity: 1;
}
.placetodown {
  display: flex;
  width: 85%;
  height: 65px;
}
.iconimg {
  width: 15%;
}
.iconimg img {
  margin-top: 5px;
  width: 50%;
}
.nexttoicon {
  width: 85%;
}
.wo p {
  font-family: var(--poppins-font);
}
.download {
  width: 25%;
}
.btndown {
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 8px;
  margin-top: 15px;
  margin-left: 15px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.btndown a {
  border-radius: 10px;
  text-decoration: none;
}
.btndown:hover a {
  color: orange;
}
.btndown:hover {
  box-shadow: 9px 3px 12px #ccc inset, -9px 3px 6px white inset;
}
.btndown.changee {
  background-color: chartreuse;
}
.word3 {
  margin-bottom: 0;
}
/* .infor {
  background-image: url(https://i.pinimg.com/236x/28/a2/c7/28a2c78d7e4987a057a612842002bf90.jpg);
} */
@media screen and (max-width: 767px) {
  .mobbilebtn {
    display: block;
    top: 15%;
    left: 90%;
    position: absolute;
    float: right;
    border-radius: 10px;
    background-color: #ccc;
    width: 50px;
    height: auto;
  }

  .body2 {
    width: 90%;
    margin-left: 10px;
  }
  .placetodown {
    height: 90px;
  }
  .div-under {
    height: 150px;
  }
  .btndown {
    height: 3rem;
    width: 8rem;
  }
  .btndown a {
    font-size: large;
  }
}



