@import url("https://fonts.googleapis.com/css2?family=Assistant&family=Nunito:wght@500&display=swap");

.infoInterfaces {
  width: 100%;
  height: auto;
  margin-top: 100px;
}
.allINfor {
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #f9cddc 0%, #c7f1ef 100%);
  display: flex;
  width: 100%;
  height: auto;
}
.Menuinfo {
  position: relative;
  width: 20%;
  height: 655px;
  border-right: 1px solid rgba(191, 187, 187, 0.953);
}
.Tabmenu {
  /* float: right; */
  height: 20px;
}
.Tabmenu i {
  padding-top: 5px;
  font-size: 2.2rem;
}
.MainStuff {
  width: 100%;
  height: auto;
}
.wordtoclick {
  padding: 10px;
  border-bottom: 3px solid #ccc;
  transition: 0.3s all linear;
}
.WordInfo h1 {
  text-align: center;
  font-size: x-large;
  padding-bottom: 30px;
  /* font-weight: 500; */
  font-family: "Monaco", Monospace;
}
.WordInfo p {
  width: 100%;
  margin: 0;
  /* padding-left: 15px; */
  font-weight: 300;
  font-size: 1.2rem;
  font-family: "Nunito", Monospace;
}
.wordtoclick:hover {
  cursor: pointer;
  background-color: #ccc;
  border-right: 5px solid orange;
}
.WordInfo i {
  margin-top: 0;
  /* padding-top: 20px; */
  padding-left: 15px;
  padding-right: 15px;
}
.Logoutplace {
  position: absolute;
  bottom: 0;
  margin-left: 80px;
}
.Logoutplace a {
  text-decoration: none;
}
.Logoutplace p {
  font-size: 1.2rem;
  font-family: "Nunito", Monospace;
  color: red;
}
.Logoutplace p:hover {
  cursor: pointer;
  color: darkgoldenrod;
}
.inforOfuser {
  position: relative;
  width: 80%;
}
.element1 {
  position: relative;
  width: 100%;
  height: auto;
  /* margin: 20px; */
}
.BoxforInfo:nth-child(1) {
  position: absolute;
  border-radius: 20px;
  margin-top: 3rem;
  margin-left: 6rem;
  display: block;
  width: 80%;
  height: 500px;
  background-color: white;
  box-shadow: 9px 9px 12px #ccc, -3px -3px 12px #ccc;
  transition: opacity 0.5s linear;
  transition: all 0.5s linear;
}
.BoxforInfo:nth-child(1).moveout1 {
  display: none;
}
.BoxforInfo:nth-child(2) {
  position: absolute;
  border-radius: 20px;
  margin-top: 3rem;
  margin-left: 6rem;
  display: none;
  width: 80%;
  height: 500px;
  background-color: white;
  box-shadow: 9px 9px 12px #ccc, -3px -3px 12px #ccc;
  transition: opacity 0.5s linear;
  transition: all 0.5s linear;
}
.BoxforInfo:nth-child(3),
.BoxforInfo:nth-child(4) {
  position: absolute;
  border-radius: 20px;
  margin-top: 3rem;
  margin-left: 6rem;
  visibility: hidden;
  width: 90%;
  opacity: 0;
  height: 500px;
  /* background-color: white; */
  box-shadow: 9px 9px 12px #ccc, -3px -3px 12px #ccc;
  transition: opacity 0.5s linear;
  transition: all 0.5s linear;
}
.BoxforInfo:nth-child(4) {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
  width: 95%;
  /* background-color: none; */
  overflow-y: auto !important;
  height: 600px;
}
.BoxforInfo:nth-child(4)::-webkit-scrollbar {
  width: 5px;
}
.BoxforInfo:nth-child(4)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 20px;
}
.box1 {
  margin-left: 1rem;
}
.hover-submenu {
  position: absolute;
  right: 4rem;
  cursor: pointer;
}
.hover-submenu img {
  width: 30px;
}
.small-submenu {
  display: none;
  position: absolute;
  padding: 0;
  left: 0;
  background-color: #eae6e6;
  width: 8rem;
  border-radius: 10px;
  z-index: 1;
}
.hover-submenu:hover .small-submenu {
  display: block;
}
.small-submenu li {
  padding: 5px 10px;
  margin: 5px;
}
.small-submenu li:hover {
  border-radius: 10px;
  border: 1px solid #0c0303;
  background: #f70707;
  color: rgb(230, 224, 224);
}
.pic1 ul {
  margin: 0;
}
.BoxforInfo:nth-child(3).moveout2,
.BoxforInfo:nth-child(4).moveout2 {
  visibility: visible;
  opacity: 1;
}
.BoxforInfo:nth-child(2).moveout2 {
  display: block;
}
.UpperBox {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  height: 150px;
  background-image: linear-gradient(to right, #f8dfb1, #f6d3c5);
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg);
  object-fit: contain;
}
.ImgandName {
  position: absolute;
  top: 15%;
  left: 5%;
}
.ImgandName a {
  /* text-align: center; */
  font-family: "Nunito", sans-serif;
  font-size: x-large;
}
.ImgandName p {
  font-family: "Nunito", sans-serif;
  font-size: large;
}
.ImgandName img {
  vertical-align: middle;
}
.ImgandName img {
  border: 5px solid snow;
  margin-right: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.file-upload {
  position: relative;
  margin-top: 10px;
  height: 30px;
  /* overflow: hidden; */
  /* display: inline-block; */
}

.custom-file-upload {
  background-color: #3498db;
  /* color: #fff; */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 30px;
}

#file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.BoxUnder {
  position: relative;
  margin-top: 60px;
  margin-left: 250px;
  width: 60%;
  height: 250px;
}
.formchange {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.formchange2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.elemetninform {
  width: 50%;
  margin-top: 20px;
}
.elemetninform span {
  color: red;
}
.formchange label {
  display: block;
  margin: 0 0 10px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: block;
  margin: 0 0 10px;
  margin-top: 10px;
}
.formchange input {
  font-family: "Nunito", sans-serif;
  outline: none;
  display: block;
  background: white;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  /* font-family: inherit; */
  font-size: 0.7rem;
  transition: 0.3s ease;
  margin-top: 10px;
}
.formchange2 label {
  display: block;
  margin: 0 0 10px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: block;
  margin: 0 0 10px;
  margin-top: 10px;
}
.formchange2 input {
  font-family: "Nunito", sans-serif;
  outline: none;
  display: block;
  background: white;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  /* font-family: inherit; */
  font-size: 0.7rem;
  transition: 0.3s ease;
  margin-top: 10px;
}
.btnupdate1 {
  position: absolute;
  bottom: 0;
  right: 0;
  float: right;
}
.btnupdate1 button {
  font-size: 1.1rem;
  color: #f9fdfe;
  border-radius: 10px;
  padding: 10px 50px 10px 50px;
  border: 0;
  background-color: #fc612a;
  box-shadow: 3px 3px 12px #fc612a;
}
.btnupdate1 button:hover {
  transform: translateY(-2px);
  background-color: #d76b43;
  cursor: pointer;
}
.btnupdate2 {
  position: absolute;
  bottom: 0;
  right: 30%;
  float: right;
}
.btnupdate2 button {
  font-size: 1.1rem;
  color: #f9fdfe;
  border-radius: 10px;
  padding: 10px 50px 10px 50px;
  border: 0;
  background-color: #fc612a;
  box-shadow: 3px 3px 12px #fc612a;
}
.btnupdate2 button:hover {
  transform: translateY(-2px);
  background-color: #d76b43;
  cursor: pointer;
}
.history_table {
  border-radius: 10px;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.history_table::-webkit-scrollbar {
  width: 10px;
}
.history_table::-webkit-scrollbar-thumb {
  background-color: chartreuse;
  border-radius: 10px;
}
.styled-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  text-align: center;
  width: 30rem;
  padding: 12px 15px;
}
.content_table {
  height: 450px;
  overflow: auto;
}
.content_table::-webkit-scrollbar {
  width: 5px;
}
.content_table::-webkit-scrollbar-thumb {
  background-color: #3699fe;
}
.decrip_test {
  /* width: 30rem; */
  overflow: hidden;
  text-align: center;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.Confirm-form-delete {
  z-index: 100;
  position: fixed;
  top: 0px;
  left: -150rem;
  width: 100%;
  backdrop-filter: blur(1px);
  height: calc(100%);
  background: rgba(255, 255, 255, 0.667);
  border: 1px solid rgb(246, 246, 246);
  transition: 0.5s all ease-in-out;
}
.Confirm-form-delete.moveout {
  top: 0px;
  left: 0px;
}
.confirm-whendelete {
  border: 2px solid rgb(255, 0, 0);
  position: absolute;
  top: 40%;
  left: 40%;
  width: 380px;
  height: auto;
  background-color: #fff;
  box-shadow: 3px 3px 12px #dfdede;
  transition: 0.5s all linear;
  border-radius: 10px;
}

.confirm-whendelete h4 {
  font-size: larger;
}
.button {
  cursor: pointer;
  border: none;
  padding: 8px 12px;
  float: right;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 1px;
  transition: 0.3s;
  margin: 5px 5px;
}
.secondary-button {
  border: 2px solid #929090;
  background-color: rgb(251, 2, 2);
  color: #fbfbfb;
}
.primary-button {
  border: 2px solid #000acc;
  background-color: rgb(253, 253, 253);
  color: rgba(0, 0, 0, 0.964);
}
.secondary-button:hover {
  background-color: rgb(132, 9, 9);
}

.primary-button:hover {
  background-color: rgb(0, 102, 204, 0.85);
}
.containerPost {
  width: 100%;
  height: auto;
  display: flex;
  border-bottom: 1px solid #ccc;
}
.User-comment-contain {
  margin: 25px 0px 10px 0px;
  width: 100%;
  height: auto;
}
.user-comment-info {
  width: 100%;
  display: flex;
  height: auto;
}
.user-comment-pic {
  width: 10%;
  height: 50px;
}
.user-comment-pic img {
  border-radius: 50%;
  width: 50px;
  vertical-align: middle;
  height: 50px;
  margin-left: 5px;
  box-shadow: 5px 3px 3px #ccc;
  object-fit: fill;
}
.user-comment-name-container {
  max-width: 70%;
  height: auto;
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 2px 2px #ccc;
}
.user-comment-name {
  margin: 10px;
}
.user-comment-name span,
.user-comment-name h4 {
  margin: 0;
}
.user-comment-name h4 {
  font-weight: bold;
  font-size: 1rem;
}
.Container-user-comment {
  width: 50%;
  height: 500px;
  overflow: auto;
}
.word-usercommet {
  margin-top: 20px;
}
.Container-user-comment::-webkit-scrollbar {
  width: 7px;
}
.Container-user-comment::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #6085ca;
}
.cmt-del-btn {
  cursor: pointer;
}
.cmt-del-btn:hover {
  text-decoration: underline;
}
